*{box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: rgb(248, 8, 8);
    color: black;
    /* height: 20%; */
    font-size: 240%;
    text-align: center;
    margin: 0%;
    padding: 8px 20px;
}

.navbar{
    margin: 0%;
    background-color: black;
    position: relative;
}
ul{
    margin: 0%;
    display: inline-block;
}
li{
    float: left;    
    padding-left: 0%;
    margin-right: 10px;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    padding: 8px 20px;
    display: inline-block;
}
a:hover{
    text-decoration: underline;
    margin-left: 3px;
    margin-right: 3px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    
}
.slides{
    display: none;
    height: 40%;

}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: lightgray;
    padding: 15px;
}
.crd1{
    height: 48%;
    width: 242px;
    background-color: whitesmoke;
    border: 2px;
    border-color: black;
    margin: 4px;
}
.cimg{
    height: 60%;
}
.crhd{
    text-align: center;
}